DB_HOST=endpoint-rds-aqui
DB_PORT=5432
DB_NAME=cruzazul
DB_USER=postgres
DB_PASSWORD=clave-rds-aqui
DB_SSL=false

ADMIN_EMAIL=admin@cruzazul.cl
ADMIN_PASSWORD=Admin12345*
MFA_SECRET=JBSWY3DPEHPK3PXP
JWT_SECRET=clave-jwt-segura-aqui

S3_BUCKET=nombre-bucket-s3-aqui
